.sessionCard {
  overflow: hidden;
  position: relative;
  .cardImg {
    max-width: 100%;
    // width: 200px;
    // height: 300px;
    // border-radius: 10px;
    object-fit: cover;
  }

  .title {
    padding: 5px;
    position: absolute;
    color: aliceblue;
    font-size: 1rem;
    display: inline-block;
    text-shadow: 0 0 8px rgba(0, 0, 0, 5), 0 2px 4px rgba(0, 0, 0, 0.7);
    bottom: 1%;
    left: 1%;
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    margin: 10px;

    span {
      margin-left: 5px;
      color: aliceblue;
      font-weight: bold;
      font-size: 20px;
      text-transform: uppercase;
      display: inline-block;
      text-shadow: 0 0 8px rgba(0, 0, 0, 5), 0 2px 4px rgba(0, 0, 0, 0.7);
    }
  }
}
