.error {
  margin: auto;
  height: 100vh;
  background-color: rgb(201, 211, 223);
  .title {
    color: rgb(63, 75, 91);
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 200px;
    h3 {
      color: rgb(63, 75, 91);
      font-size: 100px;
    }
  }
}
