.albumCard {
  overflow: hidden;
  position: relative;
  .cardImg {
    width: 400px;
    height: 350px;
    object-fit: cover;
  }

  .title {
    padding: 5px;
    margin: 5px;
    position: absolute;
    color: aliceblue;
    font-size: 1.6rem;
    display: inline;
    text-shadow: 0 0 8px rgba(0, 0, 0, 5), 0 2px 4px rgba(0, 0, 0, 0.7);
    bottom: 0%;
    left: 1%;
  }
}
